<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @party.name %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @party.founded %>
</p>

<p>
  <strong>Abbrev:</strong>
  <%= @party.abbrev %>
</p>

<% @party.politicians.each do |politician| %>
        <div class="col-lg-3">
          <div><%= image_tag politician.avatar.url(:thumb), class: "avatar-thumb" %></div>
          <div>Name <%= link_to (politician.full_name), politician %></div>
          <div>Position <%= politician.contest.name %></div>
          <div>Party <%= politician.party.name %></div>
        </div>
      <% end %>
<%= link_to 'Edit', edit_party_path(@party) %> |
<%= link_to 'Back', parties_path %>
