<p id="notice"><%= notice %></p>
<%= link_to 'Back', contests_path, class: "pull-right" %>
<!-- <%#= link_to 'Edit', edit_contest_path(@contest) %> |
<%#= link_to 'Back', contests_path %> -->

<p>
  <strong>Name:</strong>
  <%= @contest.name %>
</p>

<p>
  <strong>Location type:</strong>
  <%= @contest.location_type %>
</p>

<p>
  <strong>Code:</strong>
  <%= @contest.code %>
</p>

<p>
<% @contest.politicians.each do |politician| %>
        <div class="col-lg-3">
          <div><%= image_tag politician.avatar.url(:thumb), class: "avatar-thumb" %></div>
          <div>Name <%= link_to (politician.full_name), politician %></div>
          <div>Position <%= link_to Contest.find(politician.contest_id).name, contest_path(politician.contest_id) %></div>
          <div>Coalition <%= link_to Coalition.find(politician.coalition_id).abbrev, coalition_path(politician.coalition_id) %></div>
          <div>Party <%= link_to Party.find(politician.party_id).name, party_path(politician.party_id) %></div>
        </div>
      <% end %>
</p>
