<%= form_for(@mp) do |f| %>
  <% if @mp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mp.errors.count, "error") %> prohibited this mp from being saved:</h2>

      <ul>
      <% @mp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :full_name %><br>
    <%= f.text_field :full_name %>
  </div>
  <div class="field">
    <%= f.label :born %><br>
    <%= f.date_select :born %>
  </div>
  <div class="field">
    <%= f.label :telephone %><br>
    <%= f.text_field :telephone %>
  </div>
  <div class="field">
    <%= f.label :web %><br>
    <%= f.text_field :web %>
  </div>
  <div class="field">
    <%= f.label :Party %>
    <%= f.collection_select :party_id, Party.all, :id, :abbrev %>
  </div>
  
  <div class="field">
    <%= f.label :Coalition %>
    <%= f.collection_select :coalition_id, Coalition.all, :id, :name %>
  </div>
  
  <div class="field">
    <%= f.label :County %>
    <%= f.collection_select :county_id, County.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
