<p id="notice"><%= notice %></p>

<h1>Listing Mps</h1>

<table>
  <thead>
    <tr>
      <th>Full name</th>
      <th>Born</th>
      <th>Telephone</th>
      <th>Description</th>
      <th>Web</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mps.each do |mp| %>
      <tr>
        <td><%= mp.full_name %></td>
        <td><%= mp.born %></td>
        <td><%= mp.telephone %></td>
        <td><%= mp.description %></td>
        <td><%= mp.web %></td>
        <td><%= link_to 'Show', mp %></td>
        <td><%= link_to 'Edit', edit_mp_path(mp) %></td>
        <td><%= link_to 'Destroy', mp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mp', new_mp_path %>
