<p id="notice"><%= notice %></p>
<h1>Listing Coalitions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Abbrev</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coalitions.each do |coalition| %>
      <tr>
        <td><%= coalition.name %></td>
        <td><%= coalition.abbrev %></td>
        <td><%= link_to 'Show', coalition %></td>
        <td><%= link_to 'Edit', edit_coalition_path(coalition) %></td>
        <td><%= link_to 'Destroy', coalition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <%unless user_signed_in? %>
            <div class="modal-content">
               <%= render 'shared/register'%> 
            </div>
          <% end %>
        </div>
      </div>
