<p id="notice"><%= notice %></p>
<%= link_to 'Back', counties_path, class: "pull-right" %>
<p>
  <strong>Name:</strong>
  <%= @county.name %>
</p>
<p>
      <strong>Description:</strong>
      <%= raw(@county.description) %>
    </p>
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Politicians</a></li>
  <li><a data-toggle="tab" href="#menu1">Constituencies</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <h3>Politicians</h3>
    <p>Politicians from this county</p>
    <div class="row">
      <% @county.politicians.each do |politician| %>
        <div class="col-lg-3">
          <div><%= image_tag politician.avatar.url(:thumb), class: "avatar-thumb" %></div>
          <div>Name <%= link_to (politician.full_name), politician %></div>
          <div>Position <%= link_to Contest.find(politician.contest_id).name, contest_path(politician.contest_id) %></div>
          <div>Party <%= link_to Party.find(politician.party_id).name, party_path(politician.party_id) %></div>
        </div>
      <% end %>
    </div>
  </div>
  <div id="menu1" class="tab-pane fade">
    <h3>Constituencies</h3>
    
    <p>The county is composed of <a href="">count</a> Parliamentary constituencies</p>
    <p>
      <% @county.constituencies.each do |constituency| %>
          <div><%= link_to (constituency.name), constituency %></div>
      <% end %>
    </p>
  </div>
</div>

<%= link_to 'Edit', edit_county_path(@county) %> |
<%= link_to 'Back', counties_path %> |
<%= link_to 'Destroy', @county, method: :delete, data: { confirm: 'Are you sure?' } %>
