<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @county.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= raw(@county.description) %>
</p>
<p>
  <% @county.constituencies.each do |constituency| %>
      <div><%= constituency.name %></div>
  <% end %>
</p>

<%= link_to 'Edit', edit_county_path(@county) %> |
<%= link_to 'Back', counties_path %> |
<%= link_to 'Destroy', @county, method: :delete, data: { confirm: 'Are you sure?' } %>
