<div class="clearfix" style="margin-top:100px;"></div>
<div class="footer">
		<div class="container">
			<div class="footer-row">
				<div class="col-md-4 footer-grids">
					<h4><a href="index.html">Uwazi <br><span>Citizens in Legislature</span></a></h4>
					<p> +254 723 833 525</p>
					<p>+254 703 597 595 </p>
					<ul class="social-icons">
						<li><a href="https://www.facebook.com/UwaziKE/" target="_blank"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://twitter.com/uwazike" target="_blank"><i class="fa fa-twitter"></i></a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grids">
					<h3>Navigation</h3>					
					<ul>
						<li><%= link_to "Home", root_path %></li>
						<li><%= link_to "About Us", about_path %></li>
						<li><%= link_to "Contact" %></li>
					</ul>
				</div>
				<div class="col-md-2 footer-grids">
					<h3>Support</h3>
					<ul>
						<li><%= link_to "Volunteer" %></li>
						<li><%= link_to "Help Center" %></li>
					</ul>
				</div>
				<div class="col-md-2 footer-grids">
					<h3>Contact us</h3>
					<ul>
						<li>4<sup>th</sup> Floor, Bishop Magua Center.</li>
						<li>Ngong Rd, Nairobi</li>
						<li><a href="mailto:info@uwazi.or.ke">info@uwazi.or.ke</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>