<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-top">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Uwazi", root_url, class: "navbar-brand" %>
     
    </div>
    <div class="collapse navbar-collapse" id="navbar-top">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Bills', bills_path %></li>
        <li><%= link_to 'Politicians', politicians_path %></li>
        <li><%= link_to 'Parties', parties_path %></li>
        <li><%= link_to 'Debates', debates_path %></li>
        <li><%= link_to 'Counties', counties_path %></li>
        <li><%= link_to 'About', about_path  %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to (current_user.username), edit_user_registration_path %></li>
          <li><%= link_to('Sign out', destroy_user_session_path, method: :delete) %></li>
        <% else %>
          <li><a href="#", data-toggle="modal" data-target="#myModal">Sign in </a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>


<!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <%unless user_signed_in? %>
            <div class="modal-content">
               <%= render 'shared/register'%> 
            </div>
          <% end %>
        </div>
      </div>
