<p id="notice"><%= notice %></p>
<%= link_to 'New Bill', new_bill_path %>
<h1>Listing Bills</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Summary</th>
      <th>Date Introduced</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr style="border-bottom:thin solid grey;">
        <td><%= link_to (bill.title.html_safe), bill %></td>
        <td><%= truncate(bill.summary, :length => 150, separator: ' ', :escape => false) %></td>
        <td><%= bill.date %></td>
        <td><%#= pluralize(bill.comments.size, "Comment") %></td>
        <td><p><%= bill.get_upvotes.size %> Support</p></td>
        <td><%#= pluralize(bill.get_upvotes.size, "Vote") %></td>
        <td><%= pluralize(bill.get_downvotes.size, "Vote") %></td>
      </tr>
    <% end %>
        
  </tbody>
</table>

<br>


