<p id="notice"><%= notice %></p>
<%= link_to 'New Bill', new_bill_path %>
<h1>Listing Bills</h1>



<div class="row">
  <div class="content">
    <% @bills.each do |bill| %>
      <div class="" style="border-bottom:thin solid grey;">
        <div class="">
          <%= link_to (bill.title.html_safe), bill %>
          <span class="pull-right"><%= bill.date %></span>
        </div>
        <div class="">
          <%= truncate(bill.summary, :length => 250, separator: ' ', :escape => false) %><br>
        </div>
        
        <%= bill.get_upvotes.size %> Support
        <%= bill.get_downvotes.size %>Oppose
      </div>
    <% end %>
  </div>
</div>
<p> Continous scrolling no pagination</p>