<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @bill.title %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @bill.summary %>
</p>

<p>
  <strong>Date:</strong>
  <%= @bill.date %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %> |
<td><%= link_to 'Destroy', @bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
