<p id="notice"><%= notice %></p>
<p>
  <!-- this is temporary, eventually only admin creates bills-->
  Bill added by<%= @bill.user.username %>
</p>
<p>
  <strong></strong>
  <%= image_tag @bill.document.url(:thumbnail) %>
</p>
<p>
  <strong>Title:</strong>
  <%= @bill.title.html_safe %>
</p>
<p>
  <strong>Introduced:</strong>
  <%= @bill.date %>
</p>
<div class="col-xs-12">
  <div class="col-xs-4">
    <strong>Sponsor</strong>
    <%= @bill.politician.full_name %>
    <p>
      <%= image_tag @bill.politician.avatar.url(:thumb), class: "avatar-thumb"%>
    </p>
    <div class="col-xs-8">
      <%= truncate(@bill.politician.description, :ommision => "... Read More", :length => 100)  %>
    </div>
  </div>
</div>

<p>
  <strong>About this Bill</strong>
  <%= @bill.summary.html_safe %>
</p>

<% if user_signed_in? %>
<p>
  <%= link_to upvote_bill_path(@bill), method: :put do %>
          Support
          <%= @bill.get_upvotes.size %>
        <% end %>
        | <%= link_to downvote_bill_path(@bill), method: :put do %>
          Oppose
          <%= @bill.get_downvotes.size %>
        <% end %>
        </p>
        


<% if @bill.user.id == current_user.id %>
  <%= link_to 'Edit', edit_bill_path(@bill) %> |
  <%= link_to 'Destroy', @bill, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% else %>
 <%= link_to 'Back', bills_path %> 
<% end %>
<% end %>


<%= render partial: "comments/template", locals: {commentable: @bill, new_comment: @comment} %> 


<iframe src=<%= @bill.document %> width="600" height="780" style="border: none;"> </iframe>
<!--<iframe src="http://docs.google.com/viewer?/=<%= @bill.document %>&embedded=true" width="600" height="780" style="border: none;"></iframe>-->