<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @bill.title.html_safe %>
</p>
<p>
  <strong>Introduced:</strong>
  <%= @bill.date %>
</p>
<p>
  <strong>Sponsor</strong>
  <%= @bill.senator_id%>
</p>
<p>
  <strong>About this Bill</strong>
  <%= @bill.summary.html_safe %>
</p>


<p>
  <%= link_to upvote_bill_path(@bill), method: :put do %>
          Upvote
          <%= @bill.get_upvotes.size %>
        <% end %>
        </p>

        <p><%= link_to downvote_bill_path(@bill), method: :put do %>
          Downvote
          <%= @bill.get_downvotes.size %>
        <% end %>
        </p>
        


<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %> |
<td><%= link_to 'Destroy', @bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>


<%= render partial: "comments/template", locals: {commentable: @bill, new_comment: @comment} %>  