<p id="notice"><%= notice %></p>

<h1>Listing senators</h1>
<%= link_to 'New senator', new_senator_path %>
<table>
  <thead>
    <tr>
      <th>Full name</th>
      <th>Born</th>
      <th>Telephone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @senators.each do |senator| %>
      <tr>
        <td><%= image_tag senator.avatar.url(:thumb) %></td>
        <td><%= senator.full_name %></td>
        <td><%= senator.born %></td>
        <td><%= senator.telephone %></td>
        <td><%= link_to 'Show', senator %></td>
        <td><%= link_to 'Edit', edit_senator_path(senator) %></td>
        <td><%= link_to 'Destroy', senator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


