<!--<p id="notice"><%= notice %></p>-->

<p>
  <%= image_tag @senator.avatar.url(:thumb)%>
</p>
<p>
  <strong>Full name:</strong>
  <%= @senator.full_name %>
</p>

<p>
  <strong>Born:</strong>
  <%= @senator.born %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @senator.telephone %>
</p>

<p>
  <strong>Website:</strong>
  <a href="<%= @senator.web %>" target="_blank"><%= @senator.web %></a> <!- sth like that -->
</p>

<p>
 <strong>Party</strong>
 <%= @senator.party_id %>
</p>

<p>
 <strong>Coalition</strong>
 <%= @senator.coalition_id %>
</p>

<p>
 <strong>County</strong>
 <%= @senator.county_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @senator.description %>
</p>

<%= link_to 'Edit', edit_senator_path(@senator) %> |
<%= link_to 'Back', senators_path %> |
<%= link_to 'Delete', @senator, method: :delete, data: { confirm: 'Are you sure?' } %>
