<p id="notice"><%= notice %></p>
<h4>Listing Politicians</h4>

<div class="container" style="margin-top:20px;">
  <div class="row">
     <% @politicians.each do |politician| %>
    <div class="col-lg-10">
      <div class="media">
        <a href="#" class="pull-left"> 
          <%= image_tag politician.avatar.url(:thumb), class: "avatar-thumb media-object img-thumbnail" %>
          <!--<img alt="64x64" data-src="holder.js/64x64" class="media-object img-thumbnail" style="width: 64px; height: 64px;" src="http://placehold.it/64x64">      -->
        </a>
        <div class="media-body">
          <h3 class="media-heading">
            <strong><%= link_to (politician.full_name), politician %></strong>
          </h3>
          <p class=""><%= link_to (politician.contest.name), contests_path %> for <%= link_to (politician.county.name), counties_path %>.</p>
          <p class="capitalize">Member of <%= link_to (politician.party.name), parties_path %>.</p>
        </div>
      </div>     
    
    </div>
    <% end %>
  </div>
</div>


<div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <%unless user_signed_in? %>
            <div class="modal-content">
               <%= render 'shared/register'%> 
            </div>
          <% end %>
        </div>
      </div>
      
      
