<p id="notice"><%= notice %></p>
<%= link_to 'New Politician', new_politician_path %>
<h1>Listing Politicians</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Full name</th>
      <th>County</th>
    </tr>
  </thead>

  <tbody>
    <% @politicians.each do |politician| %>
      <tr>
        <td><%= image_tag politician.avatar.url(:thumb), class: "avatar-thumb" %></td>
        <td><%= link_to (politician.full_name), politician %></td>
        <td><%= politician.county.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <%unless user_signed_in? %>
            <div class="modal-content">
               <%= render 'shared/register'%> 
            </div>
          <% end %>
        </div>
      </div>