<p id="notice"><%= notice %></p>
<p>
  <%= image_tag @politician.avatar.url(:thumb), class: "avatar-thumb" %>
</p>
<p>
  <strong>Full name:</strong>
  <%= @politician.full_name %>
</p>

<p>
  <strong>Born:</strong>
  <%= @politician.born %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @politician.telephone %>
</p>

<p>
  <strong>Web:</strong>
  <%= @politician.web %>
</p>
<p>
  <strong>Contest:</strong>
  <%= @politician.contest.name%>
</p>
<p>
  <strong>Party:</strong>
  <%= @politician.party.name%>
</p>

<p>
  <strong>County:</strong>
  <%= @politician.county.name%>
</p>

<p>
  <strong>Primary and Secondary:</strong>
  <%= @politician.primary_secondary_school %>
</p>
<p>
  <strong>Under Grad:</strong>
  <%= @politician.undergraduate_school %>
</p>
<p>
  <strong>Grad School:</strong>
  <%= @politician.graduate_school %>
</p>
<p>
  <strong>Prev Position:</strong>
  <%= @politician.previous_position %>
</p>

<p>
  <strong>Description:</strong>
  <%= @politician.description %>
</p>

<p>
  <strong>Email:</strong>
  <%= @politician.email %>
</p>

<%= link_to 'Edit', edit_politician_path(@politician) %> |
<%= link_to 'Back', politicians_path %>
