<section id="about" class="scroll-section root-sec grey lighten-5 about-wrap">
      <div class="container">
        <div class="row">
          <div class="clearfix about-inner">
            <div class="col-sm-6 col-md-4">
              <h3 class="about-subtitle"><%= @politician.full_name %></h3>
              <div style="visibility: visible; animation-name: fadeIn;" class="person-img wow fadeIn animated animated">
                <%= image_tag @politician.avatar.url(:medium), class: " z-depth-1" %>
                <!--<img class="z-depth-1" src="images/person.jpg" alt="">-->
              </div>
              <div class="about-social">
                <ul>
                  <li>
                    <a href="#" class="btn-floating waves-effect waves-light white"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#" class="btn-floating waves-effect waves-light white"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="<%= @politician.email %>" class="btn-floating waves-effect waves-light white"><i class="fa fa-envelope"></i></a>
                  </li>
                  <li>
                     <a href="<%= @politician.web %>" class="btn-floating waves-effect waves-light white" target="_blank"><i class="fa fa-chain"></i></a>
                  </li>
                </ul>
              </div>
              <div>
                <%= link_to 'Edit', edit_politician_path(@politician) %> |
                <%= link_to 'Back', politicians_path %>
              </div>
            </div>
            <!-- about me image -->

            <div class="col-sm-6 col-md-4">
              <div class="person-info">
                <h3 class="about-subtitle">Personal Information</h3>
                <h5><span>Born :</span> <%= @politician.born.strftime(" %d %b, %Y ") %></h5>
                <h5><span>Phone :</span> <%= @politician.telephone %></h5>
                <h5><span>Position :</span> <%= @politician.contest.name%></h5>
                <h5><span>County :</span> <%= @politician.county.name%></h5>
                <h5><span>Party :</span> <%= @politician.party.name%></h5>
                <h5><span>Coalition :</span> <%= @politician.coalition.abbrev %></h5>
                <h5><span>Primary &amp; Secondary :</span> <%= @politician.primary_secondary_school %></h5>
                <h5><span>Undergraduate :</span> <%= @politician.undergraduate_school %></h5>
                <h5><span>Graduate School :</span> <%= @politician.graduate_school %></h5>
                
              </div>

              
            </div>
            <!-- about me info -->
            
            <div class="col-sm-12 col-md-4">
              <div class="person-about">
                <h3 class="about-subtitle">My Story</h3>
                <%= raw(@politician.description) %>
                <!--<a class="waves-effect waves-light btn-large brand-bg white-text"><i class="mdi-content-archive left"></i> Download Resume</a>-->
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- .container end -->
    </section>
    <div>
      <p class="capitalize">Bills By <%= @politician.full_name %></p>
      <p>
        <% @politician.bills.each do |bill| %>
          <div><%= link_to (bill.title), bill %></div>
        <% end %>
      </p>
    </div>
    

